#  Function

In [1]:
def name(i):
    print('hello very good morning',i)

In [2]:
name('faizan')

hello very good morning faizan

In [17]:
def age():
    print(input ("please enter your age::"))
def elegiblity(age):
    if  age in range(1,18):
        print('you are not ')
        
    else:
        print('yes you are')

In [18]:
age()

please enter your age::18
18

In [19]:
elegiblity(18)

yes you are

In [20]:
def greet():
    
    for i in range (1,11):
        print('hello')

In [21]:
greet()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
def teneven():
    for i in range (1,11):
        print(i*2)

In [25]:
teneven()

2
4
6
8
10
12
14
16
18
20

In [36]:
def tenodd():
    i=1
    for i in range (1,23,2):
        print(i)

In [37]:
tenodd()

1
3
5
7
9
11
13
15
17
19
21

In [38]:
#sum of n numbers

In [71]:
def sumo(p):
    return (p*(p+1)/2)

In [72]:
sumo(10)

55.0

In [75]:
def sam(u):
    if u==0:
        return 0
    else:
        return u+sam(u-1)

In [76]:
sam(10)

55

In [1]:
#doller

In [2]:
def doller(o):
    return (o*82.74)

In [4]:
doller(10)

827.4

In [6]:
#calcius

In [7]:
def fernhite(m):
    return (m*9/5+32)

In [8]:
fernhite(30)

86.0

In [9]:
#pailndrom

In [11]:
def pailindrom(p):
    p=p.lower()
    if p==p[::-1]:
        print('yes it is palindrom ')
    else:
        print('no its not')

In [13]:
pailindrom('mam')

yes it is palindrom

In [18]:
def pl():
    q=input('enter your word please:')
    q=q.lower()
    if q ==q[::-1]:
        print("yes its a palindrom")
    else:
        print("its not a palindrom")

In [19]:
pl()

enter your word please:mam
yes its a palindrom

In [27]:
def spl(l):
    even=0
    odd=0
    for i in l:
        if i%2==0:
            even=even+i
        else:
            odd=odd+i
    print(even,odd)

In [28]:
spl([1,2,3,4,5,6,9,79,73,4,8,52,26,4])

106 170

In [32]:
def jk(p):
    vo='aeiouAEIOU'
    df=(p)
    for i in p:
        if i in vo:
            df=df+":"+i
    print(df)

In [33]:
jk('faizan')

faizan:a:i:a

In [34]:
def rr(o):
    vowel='aeiouAEIOU'
    cc=0
    for i in o:
        if i in vowel:
            cc=cc+1
    print(cc)

In [35]:
rr('faizna')

3

In [38]:
i=1

In [39]:
while(i<23):
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19
21

In [40]:
for p in range (1,23,2):
    print(p)

1
3
5
7
9
11
13
15
17
19
21

In [24]:
class Mobile:
    def __init__(self,name,brand,color,price,ram):
        self.name=name
        self.brand=brand
        self.color=color
        self.price=price
        self.ram=ram
    def show_details(self):
        print("the name of mobile is :",self.name)
        print("the brand of mobile is :",self.brand)
        print("the color of mobile is :",self.color)
        print('the price of mobile is:',self.price)
        print("the ram of mobile is :",self.ram)

In [25]:
ss=Mobile('redmi','mi','blue',20000,'8gb')

In [26]:
ss.show_details()

the name of mobile is : redmi
the brand of mobile is : mi
the color of mobile is : blue
the price of mobile is: 20000
the ram of mobile is : 8gb

In [27]:
class Mob(Mobile):
    def show_2(self):
        print('the mobile rank has 1st most')

In [28]:
qq=Mob('iphone14','apple','purple',140000,'8gb')

In [29]:
qq.show_details()

the name of mobile is : iphone14
the brand of mobile is : apple
the color of mobile is : purple
the price of mobile is: 140000
the ram of mobile is : 8gb

In [30]:
qq.show_2()

the mobile rank has 1st most

In [40]:
class HH(Mobile):
    def __init__(self,name,brand,color,price,ram,rom,camera,battery):
        super().__init__(name,brand,color,price,ram)
        self.rom=rom
        self.camera=camera
        self.battery=battery
    def shn(self):
        print (self.rom)
        print (self.camera)
        print (self.battery)

In [41]:
xx=HH('samsumg','z flip','silver',150000,'16gb','128gb','50mp','100%')

In [42]:
xx.show_details()

the name of mobile is : samsumg
the brand of mobile is : z flip
the color of mobile is : silver
the price of mobile is: 150000
the ram of mobile is : 16gb

In [43]:
xx.shn()

128gb
50mp
100%

In [45]:
class Papa:
    def set_name1(self,name1):
        self.name1=name1
    def show_name1(self):
        return self.name1

In [46]:
class Ammi:
    def set_name2(self,name2):
        self.name2=name2
    def show_name2(self):
        return self.name2

In [47]:
class Me (Papa,Ammi):
    def set_name3(self,name3):
        self.name3=name3
    def show_name3(self):
        return self.name3

In [48]:
ss=Me()

In [49]:
ss.set_name1("shafique ali")

In [50]:
ss.set_name2('azeeza bano')

In [51]:
ss.set_name3("faizan ali")

In [52]:
ss.show_name1()

'shafique ali'

In [53]:
ss.show_name2()

'azeeza bano'

In [54]:
ss.show_name3()

'faizan ali'

In [56]:
class Dada:
    def set_name(self,name):
        self.name=name
    def show_name(self):
        return self.name

In [57]:
class Abbu(Dada):
    def set_age(self,age):
        self.age=age
    def show_age(self):
        return self.age

In [58]:
class Faiz(Abbu):
    def set_gender(self,gender):
        self.gender=gender
    def show_gender(self):
        return self.gender

In [59]:
ww=Faiz()

In [60]:
ww.set_age(80)

In [61]:
ww.set_gender('male')

In [62]:
ww.set_name('hamid ali')

In [63]:
ww.show_age()

80

In [64]:
ww.show_gender()

'male'

In [65]:
ww.show_name()

'hamid ali'